@{
    ViewData["Title"] = "À propos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="badge">
    <p>Nous sommes un groupe d'étudiant de polytech MIAGE constuit de 3 personne </p>
 

</div>

<p>Miage M2 2019.</p>
