@{
    ViewData["Title"] = "À propos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="badge">
    <p>Groupe d'étudiants en MIAGE à Polytech LYON </p>
 

</div>

<p>Miage M2 2019.</p>
