@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Polytech Lyon, 15 Boulevard André Latarjet, 69100 Villeurbanne<br />

</address>

<address>
    <a href="https://www.linkedin.com/in/ayoub-lamrani-6655bb56/" target="_blank"><strong>Ayoub Lamrani</strong></a> <br />
    <a href="https://www.linkedin.com/in/mi-belbahri/" target="_blank"><strong>Mohamed Ikbal Belbahri</strong></a> <br />
    <a href="#" target="_blank"><strong>Vasanth Selvaratnam</strong></a> <br />
</address>
