@model Hl7.Fhir.Model.Patient
@{
    ViewData["Title"] = "Nouveau Patient";
}

<h2>Nouveau patient</h2>

<hr />
<div class="panel panel-primary">
    <div class="panel-heading">Saisir un nouveau Patient</div>
    <div class="row panel-body">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Préfix</label>
                    <input asp-for="Name[0].PrefixElement[0].Value" class="form-control" />
                    <span asp-validation-for="Name[0].Prefix" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Nom</label>
                    <input asp-for="Name[0].Family" class="form-control" />
                    <span asp-validation-for="Name[0].Family" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Prénom</label>
                    <input asp-for="Name[0].GivenElement[0].Value" class="form-control" />
                    <span asp-validation-for="Name[0].Given" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Date de naissance</label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Sexe</label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Telephone</label>
                    <input asp-for="Telecom[0].Value" class="form-control" />
                    <span asp-validation-for="Telecom[0].Value" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Adress</label>
                    <input asp-for="Address[0].Line" class="form-control" />
                    <span asp-validation-for="Address[0].Line" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Ville</label>
                    <input asp-for="Address[0].City" class="form-control" />
                    <span asp-validation-for="Address[0].City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enregistrer" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>
<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}      